<% include ./partials/header.ejs %>

<!-- SEARCH AND BROWSE -->
<div class="container-fluid welcome pink">
	<div class="row">
		<!-- Search -->
		<div class="search col-lg-8 col-lg-offset-2">
			<form id="search-form">
				<div class="row">
					<div class="col-lg-11">
						<div class="form-group">
							<label id="search-box-label" class="main-label" for="search-box">
								What are you looking for?
							</label>
							<input type="text" class="form-control" id="search-box" placeholder="E.g. Doctors, restaurants, anything!">
						</div>
					</div>
					<div class="submit col-lg-1">
						<button type="submit" class="btn btn-default">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- CONTENT -->
<div class="container-fluid">
	<!-- MAP -->
    <div id="map-row" class="row pink">
	    <div class="col-lg-10 col-lg-offset-1">
	        <div class="map" id="map"></div>
	    </div>
	</div>
	<!-- REVIEWS -->
	<div id="this-user-reviews"class="row pink hidden">
	    <div class="col-lg-10 col-lg-offset-1">
			<h3 class="review-section-title">Your Review:</h3>
			<ul id="this-user-review-list" class="review-list">
			</ul>
		</div>
	</div>
	<div id="reviews" class="row pink hidden">
		<div class="col-lg-10 col-lg-offset-1">
			<h3 class="review-section-title">Other's Reviews:</h3>
			<ul id="review-list" class="review-list">
			</ul>
		</div>
	</div>
</div>

<!-- ADD REVIEW MODAL -->
<div id="review-modal" class="modal fade" role="dialog" data-place-id="" data-place-name="">
	<div class="modal-dialog">
	<!-- Modal Content -->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add a Review</h4>
			</div>
			<div class="modal-body">
				<% if (!currentUser) { %>
					<h2>Please login to leave a review!<h2>
				<% } else { %>
				<div id="login-error" class="alert alert-danger hidden">
					Please fill in form completely.
				</div>
				<form id="add-review-form" method="POST">
					<div class="form-group">
						<h2 id="modal-form-title"></h2>
						<textarea  id="review-text" row="5" class="form-control" placeholder="E.g. Alyssa was totally welcoming when I asked for a woman's haircut!"></textarea>
					</div>
					<!-- Gender neutral bathrooms -->
					<div class="form-check">
						<h4>Do they provide gender neutral bathrooms?</h4>
						<label class="form-check-label">
							<input class="form-check-input" type="radio" name="gendNeutBath" id="gendNeutBathYes" value="yes">
							Yes
						</label>
						<label class="form-check-label">
							<input class="form-check-input" type="radio" name="gendNeutBath" id="gendNeutBathNo" value="no">
							No
						</label>
					</div>
					<!-- LGBT owned -->
					<div class="form-check">
						<h4>Is the owner a member of the LGBTQI+ community?</h4>
						<label class="form-check-label">
							<input class="form-check-input" type="radio" name="lgbtOwned" id="lgbtOwnedYes" value="yes">
							Yes
						</label>
						<label class="form-check-label">
							<input class="form-check-input" type="radio" name="lgbtOwned" id="lgbtOwnedNo" value="no">
							No
						</label>
					</div>
					<!-- Advertises as LGBT friendly -->
					<div class="form-check">
						<h4>Do they advertise as being LGBTQI+ friendly?</h4>
						<label class="form-check-label">
							<input class="form-check-input" type="radio" name="advertises" id="advertisesYes" value="yes">
							Yes
						</label>
						<label class="form-check-label">
							<input class="form-check-input" type="radio" name="advertises" id="advertisesNo" value="no">
							No
						</label>
					</div>
					<!-- Star rating -->
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-lg-offset-1">
								<select id="friendliness" class="form-control">
									<option value="0" selected>How would you rate them out of 5?</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
							</div>
						</div>
					</div>
					<div class="submit">
						<button type="submit" class="btn btn-default">Submit</button>
					</div>
				</form>
				<% } %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- CONFIRM DELETE MODAL -->
<div id="delete-modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal Content -->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Are you sure?</h4>
				</div>
				<div class="modal-body">
					<button id="delete-modal-delete" type="button" class="btn btn-success" data-dismiss="modal">Delete</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>


<% include ./partials/footer.ejs %>