<% include ./partials/header.ejs %>

<!-- SEARCH AND BROWSE -->
<div class="container">
	<div class="row pink">
		<!-- Search -->
		<div class="search col-lg-4 col-lg-offset-1">
			<form id="search-form">
				<div class="row">
					<h2>Search for anything!</h2>
					<div class="form-group">
						<label for="search-box">
							What are you looking for?
						</label>
						<input type="text" class="form-control" id="search-box" placeholder="E.g. Doctors, restaurants, anything!">
					</div>
					<div class="submit">
						<button type="submit" class="btn btn-default">Submit</button>
					</div>
				</div>
			</form>
		</div>
		<!-- Browse -->
		<div class="col-lg-4 col-lg-offset-1">
			<h2>Browse by category</h2>
			Coming soon!
		</div>
	</div>
</div>

<!-- MAP -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="map" id="map"></div>
    </div>
  </div>
</div>

<!-- REVIEWS -->
<div class="container">
	<div id="this-user-reviews" class="row hidden">
		<h4>Your Review:</h4>
		<ul id="this-user-review-list" class="review-list">
		</ul>
	</div>
</div>
<div class="container">
	<div id="reviews" class="row hidden">
		<h4>Other's Reviews:</h4>
		<ul id="review-list" class="review-list">
		</ul>
	</div>
</div>

<!-- ADD REVIEW MODAL -->
<div id="review-modal" class="modal fade" role="dialog" data-place-id="" data-place-name="">
	<div class="modal-dialog">
	<!-- Modal Content -->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Leave a Review</h4>
			</div>
			<div class="modal-body">
				<% if (!currentUser) { %>
					<h2>Please login to leave a review!<h2>
				<% } else { %>
				<div id="login-error" class="alert alert-danger hidden">
					Please fill in form completely.
				</div>
				<form id="add-review-form" method="POST">
					<div class="form-group">
						<h2 id="modal-form-title"></h2>
						<textarea  id="review-text" row="5" class="form-control" placeholder="E.g. Alyssa was totally welcoming when I asked for a woman's haircut!"></textarea>
					</div>
					<!-- Gender neutral bathrooms -->
					<div class="form-check">
						<h4>Do they provide gender neutral bathrooms?</h4>
						<label class="form-check-label">
							<input class="form-check-input" type="radio" name="gendNeutBath" id="gendNeutBathYes" value="yes">
							Yes
						</label>
						<label class="form-check-label">
							<input class="form-check-input" type="radio" name="gendNeutBath" id="gendNeutBathNo" value="no">
							No
						</label>
					</div>
					<!-- LGBT owned -->
					<div class="form-check">
						<h4>Is the owner a member of the LGBTQI+ community?</h4>
						<label class="form-check-label">
							<input class="form-check-input" type="radio" name="lgbtOwned" id="lgbtOwnedYes" value="yes">
							Yes
						</label>
						<label class="form-check-label">
							<input class="form-check-input" type="radio" name="lgbtOwned" id="lgbtOwnedNo" value="no">
							No
						</label>
					</div>
					<!-- Advertises as LGBT friendly -->
					<div class="form-check">
						<h4>Do they advertise as being LGBTQI+ friendly?</h4>
						<label class="form-check-label">
							<input class="form-check-input" type="radio" name="advertises" id="advertisesYes" value="yes">
							Yes
						</label>
						<label class="form-check-label">
							<input class="form-check-input" type="radio" name="advertises" id="advertisesNo" value="no">
							No
						</label>
					</div>
					<!-- Star rating -->
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-lg-offset-1">
								<select id="friendliness" class="form-control">
									<option value="0" selected>How would you rate them out of 5?</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
							</div>
						</div>
					</div>
					<div class="submit">
						<button type="submit" class="btn btn-default">Submit</button>
					</div>
				</form>
			</div>
			<% } %>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer.ejs %>