<% include ./partials/header.ejs %>
<div class="container-fluid">
	<div class="row pink">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>Sign Up</h3>
			<% if(message.length > 0) { %>
				<div class="alert alert-danger"><%= message %></div>
			<% } %>
			<form method="post" action="/signup">
				<div class="form-group">
					<label class="main-label" for="email">E-mail</label>
					<input class="form-control" type="email" name="email" id="email" required>
				</div>

				<div class="form-group">
					<label class="main-label" for="email">Password</label>
					<input class="form-control" type="password" name="password" id="password" required>
				</div>

				<input class="btn btn-default" type="submit">
			</form>
		</div>
	</div>
</div>
<% include ./partials/footer.ejs %>