		</main>

		<!-- JQUERY --> 
	    <script
	    src="http://code.jquery.com/jquery-3.2.1.min.js"
	    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	    crossorigin="anonymous"></script>
		
		<!-- APP -->
		<script src="scripts/app.js"></script>

		<!-- GOOGLE MAPS -->
	    <script async defer
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATsZoSdnsSEXoZXDmtBN1nS3NqPWUok5M&callback=initMap">
	    </script>
	</body>
</html>