		<footer class="blue">
			<center>Copyright 2017 Corey Selover</center>
		</footer>
		</main>

		<!-- JQUERY --> 
	    <script
	    src="//code.jquery.com/jquery-3.2.1.min.js"
	    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	    crossorigin="anonymous"></script>

	    <!-- BOOTSTRAP -->
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
		<!-- APP -->
		<script src="scripts/app.js"></script>

		<!-- GOOGLE MAPS -->
	    <script async defer
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATsZoSdnsSEXoZXDmtBN1nS3NqPWUok5M&callback=initMap">
	    </script>
	</body>
</html>