<!DOCTYPE html>
<html>
	<head>
		<title>Trans Friendly</title>
		<link rel="stylesheet" href="./css/bootstrap.min.css">
		<link rel="stylesheet" href="./css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">
	</head>
	<body>
		<nav>
			<div class="container menu">
				<a href="/" class="logo">trans friendly</a>
				<ul class="user-menu">
					<% if (currentUser) { %>
						<li class="menu-item"><a href="/logout">Logout <%= currentUser.local.email %></a></li>
					<% } else { %>
						<li class="menu-item"><a href="/login">Login</a></li>
						<li class="menu-item"><a href="/signup">Signup</a></li>
					<% } %>
				</ul>
			</div>
		</nav>

		<main>